@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Contenedor principal que replica el estilo de pokemon-render-result-container */
.pokemon-render-result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10px;
  flex-wrap: wrap;
}

/* Estilo de las cartas de Pokémon */
.pokemon-card {
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #ffffff;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.pokemon-card:hover {
  transform: translateY(-10px);
}

/* Contenedor de la imagen del Pokémon */
.pokemon-img-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.pokemon-image {
  max-width: 9rem;
  max-height: 9rem;
  object-fit: contain;
	filter: drop-shadow(9px 16px 3px rgba(148, 148, 148, 0.667));
}

/* ID del Pokémon */
.pokemon-id {
  text-align: center;
  font-size: 1rem;
  color: #666;
  font-weight: bold;
}

/* Nombre del Pokémon */
.pokemon-name {
  color: #011030 !important;
  text-align: center !important;
  font-size: 1.1rem !important;
  font-weight: bold !important;
  margin: 7px !important;
  font-family: 'Outfit', sans-serif !important;
}

/* Tipos de Pokémon debajo del nombre */
.pokemon-types {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.pokemon-type {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: capitalize;
  opacity: 0.8;
  font-family: 'Outfit', sans-serif !important;
}

/* Tipos de Pokémon con colores específicos */
.pokemon-type.normal {
  background-color: #BCBCAC;
  color: #000;
}

.pokemon-type.fire {
  background-color: #FF421C;
  color: #000;
}

.pokemon-type.water {
  background-color: #2F9AFF;
  color: #FFF;
}

.pokemon-type.grass {
  background-color: #78CD54;
  color: #000;
}

.pokemon-type.electric {
  background-color: #FFCD30;
  color: #000;
}

.pokemon-type.ice {
  background-color: #78DEFF;
  color: #000;
}

.pokemon-type.fighting {
  background-color: #BC5442;
  color: #FFF;
}

.pokemon-type.poison {
  background-color: #AB549A;
  color: #FFF;
}

.pokemon-type.ground {
  background-color: #DEBC54;
  color: #000;
}

.pokemon-type.flying {
  background-color: #669AFF;
  color: #000;
}

.pokemon-type.psychic {
  background-color: #FF549A;
  color: #000;
}

.pokemon-type.bug {
  background-color: #ABBC1C;
  color: #000;
}

.pokemon-type.rock {
  background-color: #BCAC66;
  color: #000;
}

.pokemon-type.ghost {
  background-color: #6666BC;
  color: #FFF;
}

.pokemon-type.dark {
  background-color: #785442;
  color: #FFF;
}

.pokemon-type.dragon {
  background-color: #7866EF;
  color: #FFF;
}

.pokemon-type.steel {
  background-color: #ABACBC;
  color: #000;
}

.pokemon-type.fairy {
  background-color: #FFACFF;
  color: #000;
}
