@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.logo {
    filter: drop-shadow(9px 16px 3px rgba(163, 163, 163, 0.667));
}

.language-toggle-button {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    color: white; 
    background-color: #007bff; 
    border: none;
    border-radius: 25px; 
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease; 
    opacity: 1; 
}


.language-toggle-button:hover {
    background-color: #0056b3; 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
}

/* Estilos cuando el usuario está haciendo scroll */
.language-toggle-button.scrolling {
    opacity: 0.7; /* Reducimos la opacidad */
    padding: 8px 16px; /* Reducimos el tamaño */
    font-size: 12px;
}


.back-to-top-button {
    background-color: rgb(247, 247, 247);
    filter: drop-shadow(9px 16px 3px rgba(130, 130, 130, 0.667));
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    z-index: 1000; 
    transition: all 0.3s ease; 
}

.back-to-top-button:hover {
    opacity: 0.5;
}

.back-to-top-button img {
    height: 16px;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .home-page {
        padding: 10px;
    }

    h1, h2, h3 {
        font-size: 1.5rem; /* Reducimos el tamaño de los títulos */
    }

    /* Ajustes para el botón de cambio de idioma en móviles */
    .language-toggle-button {
        top: 10px;
        right: 10px;
        padding: 8px 16px;
        font-size: 12px;
    }

    /* Ajustes para el botón "Back to Top" en móviles */
    .back-to-top-button {
        bottom: 10px;
        left: 10px;
        height: 30px;
        width: 30px;
    }

    .back-to-top-button img {
        height: 12px;
    }
}